apiVersion: v2
name: mlflow-multitenant
description: Multitenant MLFlow using oauth2-proxy, mlflow-oicd-proxy, the zalando postgres-operator, and minio
type: application
version: 0.1.1
appVersion: "v2.13.0"
dependencies:
- name: mlflow-oidc-proxy
  repository: file://../mlflow-oidc-proxy # This is set to the actual chart repo in the github actions
  version: 0.1.1
- name: keycloak
  repository: oci://registry-1.docker.io/bitnamicharts
  version: 14.2.0
  condition: keycloak.enabled
- name: oauth2-proxy
  repository: oci://registry-1.docker.io/bitnamicharts
  version: 3.5.0
  condition: oauth2-proxy.enabled
- name: minio
  repository: https://charts.min.io/
  version: 5.0.8
  condition: minio.enabled
