kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: mlflow-oidc-proxy
nodes:
- role: control-plane
  extraMounts:
  - hostPath: {{ .Env.PWD }}
    containerPath: /mnt/host/mlflow-oidc-proxy
  # If this isn't enabled and the etcd datadir is on a consumer SSD, bad things happen
  kubeadmConfigPatches:
  - |
    kind: ClusterConfiguration
    etcd:
      local:
        extraArgs:
          unsafe-no-fsync: 'true'
