name: CI

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  workflow_dispatch: {}
  push:
    branches: ['**']
  pull_request: {}

env:
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

  HELM_REPO: "oci://ghcr.io/${{ github.repository }}/charts"

  GOPRIVATE: 'github.com/meln5674/*'

  COSIGN_VERSION: v1.13.0

jobs:
  lint:
    # runs-on: ubuntu-latest
    runs-on: self-hosted
    permissions:
      contents: read

    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

      - name: Setup Build Environment
        run: |
          ./build-env.sh echo Done
      
      - name: Install Dependencies
        run: |
          ./build-env.sh make -j deps all-helm-tools chart-deps

      # Run Linter
      - name: Lint standalone chart
        run: |
          ./build-env.sh make helm-hog

  test:
    # runs-on: ubuntu-latest
    runs-on: self-hosted
    permissions:
      contents: read

    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true

      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

      - name: Setup Build Environment
        run: |
          ./build-env.sh echo Done

      - name: Install Dependencies
        run: |
          ./build-env.sh make -j deps all-test-tools all-e2e-tools chart-deps

      # Tests
      - name: Unit Tests
        run: |
          ./build-env.sh make test
      - name: End-to-End Tests
        run: |
          ./build-env.sh make e2e IS_CI=1
